<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kunlun.api.SellerMapper">
    <!--新增商铺-->
    <insert id="add" parameterType="com.kunlun.entity.Store">
        INSERT INTO t_store(
        audit,
        status,
        mobile,
        user_id,
        store_no,
        reputation,
        store_name,
        store_address,
        store_description,
        create_date)
        VALUES (
        'AUDITING',
        'NORMAL',
        #{mobile},
        #{userId},
        #{storeNo},
        '50',
        #{storeName},
        #{storeAddress},
        #{storeDescription},
        NOW()
        )
    </insert>

    <!--修改店铺状态-->
    <update id="updateStatus">
        UPDATE t_store SET
        status=#{status},
        update_date=NOW()
        WHERE id=#{id}
    </update>

    <!--修改店铺审核状态-->
    <update id="updateAudit">
        UPDATE t_store SET
        audit='AUDITING',
        update_date=NOW()
        WHERE id=#{id}
    </update>

    <!--修改店铺信息-->
    <update id="modify" parameterType="com.kunlun.entity.Store">
        UPDATE t_store SET
        <if test="mobile!=null">mobile=#{mobile},</if>
        <if test="audit!=null">audit=#{audit},</if>
        <if test="storeName!=null">store_name=#{storeName},</if>
        <if test="storeAddress!=null">store_address=#{storeAddress},</if>
        <if test="storeDescription!=null">store_description=#{storeDescription},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--校验名称是否存在-->
    <select id="validByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_store WHERE store_name=#{storeName} AND status='NORMAL'
    </select>

    <!--根据id校验名称是否存在-->
    <select id="validByNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_store WHERE store_name=#{storeName} AND status='NORMAL' AND id!=#{id}
    </select>

    <!--校验商户是否已经存在商铺-->
    <select id="validByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_store WHERE user_id=#{userId} AND status='NORMAL'
    </select>

    <!--商户详情-->
    <select id="findById" resultType="com.kunlun.entity.Store">
        SELECT
        id,
        audit,
        status,
        mobile,
        user_id,
        store_no,
        reputation,
        store_name,
        store_address,
        store_description,
        reason
        FROM t_store
        WHERE  id=#{id} AND status !='STATUS_DELETE'
    </select>

    <select id="validCertification" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user
        WHERE id=#{userId} AND status='NORMAL' AND certification='IS_AUTH'
    </select>

    <update id="updateStatusAndAudit">
        UPDATE t_store SET audit='PASS_AUDIT'AND status='NORMAL'WHERE id=#{id}
    </update>
</mapper>